<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title>PROYECT X | REGISTER </title>
</head>

<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <div class="box-form">
            <form method="post" action="/user/register" enctype="multipart/form-data">
                <h3 class="w100">REGISTRATE</h3>
                <p class="registrateCon w100">Registrate con</p>
                <div class="botones-acceso w100">
                    <button>FACEBOOK<i class="fa-brands fa-facebook"></i></button>
                    <button class="buttonGoogle">GOOGLE<i class="fa-brands fa-google"></i></button>
                </div>
                <p class="letra0 w100">O</p>
                <h5 class="w100">TU NOMBRE</h5>
                <div class="nombre w100">
                    <input type="text" name="first_name" id="" placeholder="Nombre(s) *">
                    <% if (locals.errors && errors.first_name) { %>
                        <div style="color: red;"> <%= errors.first_name %></div>
                    <% } %>
                </div>
                <div class="apellido w100">
                    <input type="text" name="last_name" id="" placeholder="Apellido *">
                </div class="date w100">
                <h5 class="w100">FECHA DE NACIMIENTO</h5>
                <div class="date w100">
                    <input type="date" name="date" id="">
                </div>
                <h5 class="w100">SEXO</h5>
                <div class="botones-sexos w100">
                    <input type="radio" name="sexos" id="" value="hombre">
                    <label>Hombre</label>
                    <input type="radio" name="sexos" id="" value="mujer">
                    <label>Mujer</label>
                    <input type="radio" name="sexos" id="" value="otros">
                    <label>Otros</label>
                </div>
                <div class="uploadImg w100">                        
                    <label for="image"><b>AGREGAR IMAGEN</b></label>
                    <input type="file" id="image" name="image">  
                    <% if (locals.errors && errors.image) { %>
                        <div style="color: red;"> <%= errors.image %></div>
                    <% } %>                      
                </div>
                <h5 class="w100">DATOS DE ACCESO</h5>
                <div class="email w100">
                    <input type="email" name="email" id="" placeholder="Correo Electronico *">
                    <% if (locals.emailExist) { %>
                        <div style="color: red;"> <%= emailExist %></div>
                    <% } %>
                </div>
                <div class="contraseña w100">
                    <input type="password" name="password" id="" placeholder="Contraseña *">
                    <p>Minimo 8 caracteres con una mayúscula, una minúscula, un caracter especial y un numero</p>
                </div>
                <div class="terminos w100">
                    <input type="checkbox" name="" id="">
                    <label class="w100">He leido y aceptos los terminos y la politica de privacidad</label>
                </div>
                <div class="boton-registrate w100">
                    <button type="submit">REGÍSTRATE<i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
                
            </form>
            <div class="box-rigth">
                <p>UNITE AL CLUB. OBTENÉ LOS BENEFICIOS</p>
                <p>Unite a ProyectX. Obtené recompensas hoy mismo:</p>
                <ul>
                    <li><i class="fa-solid fa-check"></i> 15% de descuento en tu próxima compra </li>
                    <li><i class="fa-solid fa-check"></i> Acceso a productos y rebajas exclusivos para miembros </li>
                    <li><i class="fa-solid fa-check"></i> Acceso a las apps de adidas Running y Training </li>
                    <li><i class="fa-solid fa-check"></i> Ofertas y promociones especiales </li>
                </ul>
                <p>Como miembro de ProyectoX, queremos recompensarte con eso que te gusta por hacer lo que te gusta. Suscribite hoy mismo y accedé de inmediato a las ventajas del nivel 1:
                    Unite ahora y empezá a ganar puntos, subí de nivel y desbloqueá más recompensas y beneficios ProyectX</p>
            </div>
        </div>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>

</html>