<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/productCreate.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <title>EDITAR</title>
</head>

<body>
  <%-include('./partials/header.ejs')%>
    <main class="mainCreate">
      <h3 class="agregarProducts">EDITAR PRODUCTO</h3>
      <div class="contentForm">
        <form class="boxForm" action="/product/<%=productFind.id%>/edit/?_method=PUT" method="post" enctype="multipart/form-data">
          <div class="inputsCompletar w100">
            <label for="name"></label>
            <input type="text" placeholder="Nombres *" value="<%=productFind.name%>">
            <label for="price"></label>
            <input type="text" placeholder="Precio *" value="<%=productFind.price%>">
            <label for="discount"></label>
            <input type="number" placeholder="Descuento % *" value="<%=productFind.discount%>">
          </div>
          <div class="genero">          
            <label for="category" class="marcas"><b>CATEGORIA</b></label>
            <select name="category" id="category" class="form-input">
            <option value="">Elegí</option>
            <option value="in-sale">En oferta</option>
            <option value="visited" >Últimos agregados</option>
            </select>
          </div>
          <div class="description w100">
            <label for="description"></label>
            <input type="text" placeholder="Descripcion *" value="<%=productFind.decription%>">
          </div>
          <div class="date w100">
            <label for="image"></label>
						<input type="file" id="image" name="image" placeholder="Ej: 15">
          </div>
          <div class="buttonAgregar w100">
            <button type="submit">AGREGAR</button>
          </div>
      </form>
    </div>
    </main>
    <%-include("./partials/footer.ejs") %>
</body>




</html>