<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title><%= productFind.name.toUpperCase()%></title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        
    <main>
        <div class="box-form">
            <section class="primer-sector">
                <img src="/images/products/<%= productFind.img %>" alt="" width="100%">
                <br> 
                <h2 class="titulo-descripcion"><b>DESCIPCION</b></h2>
                <br>
                <p class="titulo"><%= productFind.description.toUpperCase() %></p>
            </section>  
            <div class="segundo-tercer-sector">
                <section class="segundo-sector">
                    <div class="btn">
                        <h1 class="tituloProduct"><%=productFind.name.toUpperCase()%></h1>
                        <div class="precio-box">
                            <p class="precio"><b>$<%=(productFind.price - (productFind.price * (productFind.discount / 100)))%></b></p>
                            <p class="precio-viejo"><del>$<%= productFind.price %></del></p>
                            <p class="descuento"><b><%= productFind.discount %>%</b></p>
                        </div>
                        <div class="btn">
                            <button class="carrito">AÑADIR AL CARRITO</button>
                            <div class="btn-secundarios">
                            <a href="" class="btn-type"><button><i class="fa-regular fa-heart"></i></button></a>
                            <form class="btn-type" action="/product/<%=productFind.id%>/delete/?_method=DELETE" method="POST" style="display:inline-flex">
                                <button type="submit"><i class="fa-solid fa-trash"></i></button>                          
                            </form>                            
                            <a href="/product/<%=productFind.id%>/edit" class="btn-type"><button><i class="fa-solid fa-file-pen"></i></button></a>                            
                        </div> 
                    </div>                
                    <div class="logos-datos">
                        <ul>
                            <li><i class="fa-solid fa-truck-fast"></i> ENVIOS GRATIS A PARTIR DE $8000</li>
                            <li><i class="fa-solid fa-lock"></i> CUOTAS SIN INTERES</li>
                            <li><i class="fa-solid fa-money-bill-wave"></i> DEVOLUCIONES GRATIS</li>
                        </ul>
                    </div>
                </section>
                <h3 class="strong">TAMBIEN PODRIA INTERESARTE</h3>
                
                <h2 class="titulares">Productos recomendados</h2>
                <section class="section-box">
                    <% productsVisited.forEach(product => { %>
                    <article class="article-box">
                        <a href="/product/<%= product.id %>/detail">
                            
                            <img src="/images/products/<%= product.img %>" alt="<%= product.name %>">
                            <div class="description-product">
                                <div class="descripton-specific">
                                    <p class="titulo"><%= product.name.toUpperCase() %></p>
                                    
                                    <div class="price-container">
                                        <p class="precio">$<%= product.price %></p>
                                        <p class="descuento"><%= product.discount %>% OFF</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <% }) %>
                </section>

            </div>    
        </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
    
    </html>