<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title>PROYECTO X</title>
</head>

<body>

    <%- include('./partials/header.ejs') %>

    <main>
        <div class="main">
            <section class="section-box">
                <h2 class="titulares">TODOS LOS PRODUCTOS</h2>
                <% products.forEach(product => { %>
                <article class="article-box">
                    <a href="/product/<%= product.id %>/detail">
                        <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                        <div class="description-product">
                            <div class="descripton-specific">
                                <p class="titulo"><%= product.name %></p>
                                <div class="price-container">
                                    <p class="precio">$<%= product.price %></p>
                                    <p class="descuento"><%= product.discount %>% OFF</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <% }) %>
            </section>
        </div>
    </main>  

    <%- include('./partials/footer.ejs') %>

</body>

</html>

<!--⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣠⣤⣲⣶⣤⣿⣾⣿⣿⣿⣿⣿⣿⣿⣾⣾⣵⣶⣲⣤⢤⣄⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣄⣶⣾⣿⣿⣿⣿⡿⠿⠛⠛⠛⠋⠉⠉⠉⠉⠉⠉⠉⠛⠛⠛⠻⠿⣿⣿⣿⣿⣽⣴⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣾⣷⣿⡿⠿⠛⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠙⠻⢿⣿⣿⣷⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣶⣿⣿⡿⠟⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⢿⣿⣿⣧⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⣿⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⣢⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣽⣿⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢿⣿⣟⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣿⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣿⣞⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⡆⠀⠀⠀⠀⣿⣿⠀⠀⠀⢀⣾⣶⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⣿⡽⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⢉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣷⣶⣶⣶⣶⣿⣿⠀⠀⠀⠀⣴⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣹⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⡟⠛⠛⠛⠛⣿⣿⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣿⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⡇⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣽⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⡿⠃⠀⠀⠀⠀⢿⡿⠀⠀⠀⠀⢿⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⡿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⡻⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣾⣿⡷⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⣿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⢿⣿⣷⣦⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣾⣿⣿⠟⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⠻⡿⣿⣿⣷⣦⣤⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣴⣶⣿⣿⣿⡿⠿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠙⠻⠿⢿⣿⣿⣿⣿⣶⣶⣶⣶⣦⡀⠀⠀⠀⠀⣴⣶⣶⣶⣶⣾⣿⣿⣿⣿⣿⣿⠿⠟⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠙⠻⠟⠛⠻⣿⣿⣷⠀⠀⡀⣰⣿⣿⠟⠿⠟⠝⠛⠉⠑⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢺⣿⣿⡆⠀⣰⣿⣿⡽⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⡇⣴⣿⣿⡏⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⣿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⣿⣻⠋⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠃⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣤⣀⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣄⣴⣄⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣾⣾⣿⣿⣿⣿⡦⡀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣿⣿⣿⠿⢿⣿⣿⡷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣜⣿⣿⠟⠁⠄⡙⢿⣿⣿⢄⠀⠀⠀⠀⠀⠀⣴⣿⣿⠟⡁⠄⠂⡙⢿⣿⣞⣄⢀⣀⡤⢠⣤⣴⣠⣶⣶⣴⣶⣾⣷⣷⣶⣶⣶⣂⣦⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⠏⡈⠐⠠⠐⠠⠿⣿⣯⣧⣤⣤⣤⣤⣼⣿⣿⠋⠄⡐⢈⠐⠠⢈⢻⣿⣿⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠛⢻⣿⣿⣿⣿⣿⣿⣿⣯⣶⡤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣽⣿⡏⠐⠠⢁⠂⡁⢂⠐⣹⣿⣿⣿⣿⣿⣿⣿⣿⡇⡈⠐⡀⠂⠌⡐⢀⠂⢛⠛⡛⢉⠉⠄⠠⠹⣿⣿⣿⣿⣿⣿⠃⡈⠼⣿⣿⣿⣿⣿⣿⡟⠻⢿⣿⣷⣷⣢⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⢀⣀⣀⠀⠀⠀⠀⠀⢠⣿⣿⡟⡠⢁⠂⠄⠂⠌⡁⠌⡘⢿⡿⠛⢿⡿⠛⢿⡿⠃⠄⠡⢀⠁⢂⠉⠄⡈⠄⢂⠐⠠⠈⢄⠁⡂⣌⣛⡛⠛⠋⠠⠐⡀⢂⠘⠻⠿⠿⠿⠋⢀⠂⠄⡈⠹⢿⣿⣿⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⢄⣤⣀⠀⠀⠀
⣴⣯⣴⣬⣵⣿⣿⣶⣶⣯⣿⣿⠁⠔⠠⠈⠄⡁⠂⠔⠠⠐⠠⠐⡈⣤⡄⠡⠀⠄⡈⠄⡁⣂⠌⠠⢈⠐⠠⠈⢄⣬⣶⣿⣿⣿⣿⣿⣿⣿⠇⡈⠄⡁⠢⢐⠨⠐⠄⢂⠐⡈⠄⡈⠔⠠⢁⠂⠌⣻⣿⣿⡧⡀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⣿⣿⣿⣿⣾⣢⠀
⠙⠿⠿⣿⡿⢿⣿⣿⣿⣿⣿⠇⡌⠠⠁⠌⣶⣿⣿⣮⠐⡁⢂⠡⢰⣿⣿⠂⡁⢂⠐⢠⣿⣿⣿⣧⠂⠌⡀⠃⠜⢿⠟⠛⢉⠡⢁⠠⠀⠄⢂⠐⠠⢀⠡⠂⠤⠡⠌⡀⠆⠰⠠⠐⡈⠔⠂⠌⡐⢀⠙⣿⣿⣿⠄⠀⠀⠀⠀⠀⠀⡠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣷
⢀⣤⣌⣾⣿⣿⣿⣵⣿⣿⡿⠀⠄⠡⢈⡐⢿⣿⣿⡿⠁⡐⢰⣿⣿⣿⣿⣿⣿⡆⠈⠌⢿⣿⣿⠟⢀⠂⠄⠡⢨⣶⣶⣿⣶⣶⣶⣶⣷⣮⡄⡈⠐⡀⢂⠑⠂⢃⠒⠐⢊⠐⡁⠒⡐⢈⠐⡈⡐⢀⠂⠌⢿⣿⣟⣆⠀⠀⠀⢀⣴⣿⣿⡟⠉⠻⣿⣿⣿⣿⣿⡿
⢺⣿⣿⡿⣿⣿⣿⣿⣿⣿⠇⡈⠄⡁⠂⡄⠂⠄⠠⠐⠠⢀⠡⢉⠩⢉⠉⢋⠁⢂⠡⠈⠄⠠⠀⠌⠠⠈⡄⠁⠆⠙⢋⠛⠙⠛⠛⠛⠛⢛⠃⠄⠡⢀⠡⣈⠡⣈⢈⠡⡈⢄⠡⡁⢌⡈⢄⡁⢌⠠⡈⠐⡈⢿⣿⣟⣄⣰⣶⣿⣿⣿⣿⣤⢈⠐⣀⢙⣿⣿⣷⠃
⠀⠉⠉⠀⠀⠀⢈⣽⣿⡿⢈⠐⠠⢀⠡⠄⠡⠈⠄⡁⢂⠰⢀⠂⡐⠠⠈⠄⡈⠄⢂⠡⠈⠄⠡⠈⠄⠡⠄⠩⠄⠃⠄⢂⠡⠈⠄⠃⠌⢠⠈⠄⠡⠂⠔⠠⠐⠄⠢⠐⠄⠢⠐⠄⠢⠄⠢⠄⠢⠠⠁⠆⡐⠘⣿⣿⣿⣿⣿⠿⣿⣿⣿⣿⣿⣦⣠⣾⣿⣿⠃⠀
⠀⠀⠀⠀⠀⠀⢸⣿⣿⡇⠆⡈⠐⡀⠒⡈⠒⠑⢂⠒⠐⢂⠂⠒⡀⢃⠘⡀⢂⠘⡀⢂⠃⡘⠂⢃⠘⢂⠊⡐⢈⠂⡘⢀⠂⠡⢈⠂⠌⡀⠂⠌⡐⢁⠊⡐⢁⠊⡐⢁⠊⡐⢁⠊⡐⢂⠁⢂⠑⡀⢃⠒⠠⠁⢿⣿⣿⣿⠁⢂⠙⢿⣿⣿⣿⣿⣿⣿⠗⠁⠀⠀
⠀⠀⠀⠀⠀⠀⣿⣿⣿⠇⠂⠄⠡⡀⢡⠁⡉⢌⠠⡁⡉⠄⡉⢄⠡⡁⢌⠠⡁⢡⠈⡄⠡⢈⠌⡠⢉⠠⡁⢌⠠⡁⢉⡈⠡⢉⡈⡁⣉⢈⠡⡉⢠⠁⡌⢠⠁⡌⢠⠁⡌⢠⠁⡌⢐⠈⡌⢠⠁⢌⠠⢈⠡⢈⢸⣿⣿⣿⡇⠂⠌⣀⣽⣿⣿⣿⠟⠋⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⡿⣿⣿⠀⠃⠌⡐⠠⠂⠔⠠⠂⠔⠠⠐⠰⢀⠢⠐⠄⠢⠐⠄⠂⠔⠠⢁⠢⠐⠄⠢⠐⠄⠢⠐⠄⠢⠠⢁⠂⡐⠄⠄⠢⠐⠄⠢⠐⠄⠢⠐⠄⠢⠐⠄⠢⠐⠄⠢⠐⠠⠂⠌⠠⠂⠄⡡⢈⠸⣿⣿⣿⣿⣶⣿⣿⣿⡿⠛⠉⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣧⣿⣿⠈⡐⢠⠀⡑⠌⢂⠡⠘⡀⢃⢉⠐⢂⡐⢁⠊⠄⡑⢈⠡⠘⠠⡁⢂⢁⠊⡐⢁⠊⡐⢁⠊⡐⢁⠂⡘⠠⢈⠂⡑⢈⠂⡑⢈⠂⡑⢈⠂⡑⢈⠂⡑⠈⡄⠃⠌⠡⠘⡈⠡⢈⠐⡐⠠⢌⣿⣿⣿⣿⡻⠿⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣣⣿⣿⠐⡀⢂⠐⠠⡁⢂⠡⠌⡐⠤⠈⠤⠁⠄⢂⠡⠌⡐⠠⠡⢈⠡⠐⡈⠄⢂⠡⢂⠡⠈⠄⡂⠡⢂⠡⠄⠡⢂⠡⠐⠄⡡⠐⠠⡁⠌⠠⡁⠌⡀⠆⣈⠡⠠⠡⢈⡁⠆⡁⢂⠁⠂⠄⠡⢸⣿⣿⣏⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣿⣿⣿⡆⠐⠠⢈⠐⡁⢂⠂⠒⡀⢂⠑⡀⢃⠘⡀⢂⠒⡀⢃⠒⡀⢂⠑⡐⢈⠂⡐⠂⢂⠑⢂⠐⡁⢂⠂⡘⠐⢂⠂⡑⠂⠄⢃⠒⠐⡈⠒⡀⠒⡐⢂⠐⡀⢃⠒⠠⠐⢂⠐⡀⠊⠄⡁⠂⣽⣿⣿⠌⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠙⣿⣿⡇⠌⡐⠠⠈⠄⡃⣈⠡⢈⠄⡡⢈⠄⡡⢈⠄⡡⢈⠄⣂⠡⣈⠐⡈⢄⠡⣈⠡⡈⢌⠠⡁⢌⠠⡁⢌⡈⠄⡡⢈⠌⡈⢄⡈⢡⢈⠁⡌⢁⠄⡡⢈⠄⡡⢈⡁⢡⢈⠐⠠⢁⠂⠄⢡⣿⣿⣽⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢿⣿⣿⡄⠠⠁⠌⠠⠡⠄⠢⠄⠆⠰⠀⠆⠰⠀⠆⠰⠀⠆⠤⠐⡀⠆⠰⠀⠆⠤⠐⠄⠢⠐⠄⠢⠐⠄⠢⠀⠆⠰⠀⠆⠰⠠⠐⠄⠢⠐⠄⠢⠐⠄⠢⠐⠄⠢⠐⠄⠂⠌⡐⠄⡈⠐⣸⣿⣟⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣧⠡⠈⠄⡁⢂⠘⡐⢂⠊⡐⢁⠊⡐⢁⠊⡐⢁⠊⡐⠒⠐⡈⠒⢁⠊⡐⢈⠂⡑⢈⠂⡑⢈⠂⡑⢈⠂⡑⢈⠂⡑⠂⡑⠊⡐⢁⠊⡐⢁⠊⡐⢁⠊⡐⢁⠊⡐⢂⠐⠠⢀⢱⣿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣷⡁⢂⠐⠠⢈⠐⠠⡁⢌⠠⡁⣌⠠⡁⣌⠠⡁⢌⡈⢡⢈⢡⠈⡄⣉⠠⡁⢌⠠⡁⣌⠠⡁⣌⠠⡁⡌⢠⡁⢌⡁⡄⡡⢈⠄⡡⣈⠄⡡⣈⠄⡡⢈⠄⢂⠡⠀⠌⡐⢠⣿⣿⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢿⣿⣿⣄⠌⡐⠠⢈⠐⡀⢂⠡⠐⠠⠐⢠⠠⠐⠄⢂⠰⢀⠢⠀⠆⡐⢀⠂⠔⠠⠂⠔⠠⠐⠠⠠⠐⠄⠰⠀⠄⠂⠤⠐⡀⠆⡐⠄⠠⢂⠐⠠⠐⣀⠂⠌⡀⢂⠁⢂⣰⣿⣿⡗⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⣿⣿⣷⣤⠁⠌⡐⢀⠂⠄⡁⢂⠁⡂⠄⠡⠈⠄⠂⠄⢂⠁⢂⡐⢠⠈⡂⠡⠈⠄⠡⢈⠂⢡⠈⠄⡡⠘⠠⢁⠂⠡⠐⡐⠠⡈⢐⠀⡊⠄⠡⢀⠂⡐⢀⠂⢌⣴⣿⣿⠟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⣿⣿⣿⣦⡔⢂⠈⣐⣀⣆⣐⣠⣈⣄⣡⣈⣐⠈⠄⡈⣄⣐⣀⣂⣄⣡⣈⣄⣁⣂⣌⣀⣂⣐⣠⣁⣂⠄⡈⠄⣡⣀⣡⣐⣀⣂⣐⣈⣐⣀⠂⡐⣠⣾⣿⣿⡻⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⣿⣿⣿⠀⢂⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡗⢠⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⡐⠸⣿⣿⢿⢿⣿⣿⣿⣿⣿⣿⡇⢠⢹⣿⣿⡍⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣿⣿⣜⣴⣿⣿⡞⠈⠉⠉⠚⠛⣿⣿⣧⣒⣼⣿⣟⠏⠉⠈⠁⠈⠈⠁⠒⠉⠒⠓⠚⠚⣿⣿⣷⣌⣿⣿⣿⠟⠀⠀⠁⠁⢹⣿⣿⣧⣦⣾⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⢻⣿⣿⣿⣿⠋⠀⠀⠀⠀⠀⠀⠙⢿⣿⣿⣿⠿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⡿⠋⠀⠀⠀⠀⠀⠀⠘⠻⡿⢿⣟⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀-->
