<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title><%= productFind.name.toUpperCase() %></title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        
    <main>

        <section class="primer-sector">
            <img src="/images/<%= productFind.image %>" alt="" width="358px">
        </section>        
        <section class="segundo-sector">
            <div class="btn">
                <h1 class="tituloProduct"><%= productFind.name.toUpperCase() %></h1>
                <div class="precio-box">
                    <p class="precio"><b>$<%= (productFind.price - (productFind.price * (productFind.discount / 100)))%></b></p>
                    <p class="precio-viejo"><del>$<%= productFind.price %></del></p>
                    <p class="descuento"><b><%= productFind.discount %>%</b></p>
                </div>
                <div class="btn">
                    <button class="carrito">AÑADIR AL CARRITO</button>
                <div class="btn-secundarios">
                    <button class="fav"><i class="fa-regular fa-heart"></i></button>
                    <button class="eliminar"><i class="fa-solid fa-trash"></i></button>
                    <button class="editar"><i class="fa-solid fa-file-pen"></i></button>
                </div> 
                </div>                
                <div class="logos-datos">
                    <ul>
                        <li><i class="fa-solid fa-truck-fast"></i> ENVIOS GRATIS A PARTIR DE $8000</li>
                        <li><i class="fa-solid fa-lock"></i> CUOTAS SIN INTERES</li>
                        <li><i class="fa-solid fa-money-bill-wave"></i> DEVOLUCIONES GRATIS</li>
                    </ul>
                </div>
        </section>
        <section class="tercer-sector">
            <h3 class="strong">TAMBIEN PODRIA INTERESARTE</h3>
            <article>
                <div class="producto-interes">
                    <div>
                        <img src="/images/<%= productFind.image %>" alt="" width="100vw">
                    </div>
                    <div class="precio-nombre-producto">
                        <p id="precio-interes">$10.000</p>
                        <p id="nombre-interes"><b><%= productFind.name.toUpperCase() %></b></p>
                    </div>
                </div>
            </article>
            <article>
                <div class="producto-interes">
                    <div>
                        <img src="/images/<%= productFind.image %>" alt="" width="100vw">
                    </div>
                    <div class="precio-nombre-producto">
                        <p id="precio-interes">$<%= productFind.price %></p>
                        <p id="nombre-interes"><b><%= productFind.name.toUpperCase() %></b></p>
                    </div>
                </div>
            </article>
            <article>
                <div class="producto-interes">
                    <div>
                        <img src="/images/<%= productFind.image %>" alt="" width="100vw">
                    </div>
                    <div class="precio-nombre-producto">
                        <p id="precio-interes">$<%= productFind.price %></p>
                        <p id="nombre-interes"><b><%= productFind.name.toUpperCase() %></b></p>
                    </div>
                </div>
            </article>
            <article>
                <div class="producto-interes">
                    <div>
                        <img src="/images/<%= productFind.image %>" alt="" width="100vw">
                    </div>
                    <div class="precio-nombre-producto">
                        <p id="precio-interes">$<%= productFind.price %></p>
                        <p id="nombre-interes"><b><%= productFind.name.toUpperCase() %></b></p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>