<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <title>PROYECTO X</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        
    <main>

        <section class="primer-sector">
            <img src="/images/<%= productFind.image %>" alt="" class="zapa-naranja">
        </section>
        
        <section class="segundo-sector">
            <div class="detail-product">
                <h1><b><%= productFind.name %></b></h1>
                <div id="precio">$<%= productFind.price %></div>
                <div id="descuento"><%= productFind.discount %>%</div>
                <div class="opciones-disponibles">
                    <div><b>Opciones Disponibles</b></div>
                    <div class="op-color">
                        <img src="/images/Zapatilla Naranja.jpg" alt="" width="75vw">
                        <img src="/images/Zapatilla Celeste.jpg" alt="" width="75vw">
                        <img src="/images/Zapatilla Naranja.jpg" alt="" width="75vw">
                        <img src="/images/Zapatilla Celeste.jpg" alt="" width="75vw">
                    </div>
                </div>
            </div>
            <div class="boton-añadir">
                <button class="añadir">Añadir al Carrito</button><button class="fav"><i
                        class="fa-regular fa-heart"></i></button>
                <div class="logos-datos">
                    <ul>
                        <li><i class="fa-solid fa-truck-fast"></i> Envíos Gratis a partir de $8000</li>
                        <li><i class="fa-solid fa-lock"></i> Cuotas Sin Interes</li>
                        <li><i class="fa-solid fa-money-bill-wave"></i> Devoluciones Gratis</li>
                    </ul>
                </div>
        </section>
        <section class="tercer-sector">
            <h2><b>Tambien Podria interesarte</b></h2>
            <article>
                <div class="producto-interes">
                    <div>
                        <img src="/images/Remera Deportiva.jpg" alt="" width="100vw">
                    </div>
                    <div class="precio-nombre-producto">
                        <p id="precio-interes">$10.000</p>
                        <p id="nombre-interes"><b>Remera Deportiva</b></p>
                    </div>
                </div>
            </article>
            <article>
                <div class="producto-interes">
                    <div>
                        <img src="/images/Pesas.jpg" alt="" width="100vw">
                    </div>
                    <div class="precio-nombre-producto">
                        <p id="precio-interes">$30.000</p>
                        <p id="nombre-interes"><b>Pesas 30 Kg</b></p>
                    </div>
                </div>
            </article>
            <article>
                <div class="producto-interes">
                    <div>
                        <img src="/images/Soga.jpg" alt="" width="100vw">
                    </div>
                    <div class="precio-nombre-producto">
                        <p id="precio-interes">$2.500</p>
                        <p id="nombre-interes"><b>Soga para Saltar</b></p>
                    </div>
                </div>
            </article>
            <article>
                <div class="producto-interes">
                    <div>
                        <img src="/images/Calza.jpg" alt="" width="100vw">
                    </div>
                    <div class="precio-nombre-producto">
                        <p id="precio-interes">$16.000</p>
                        <p id="nombre-interes"><b>Calza Deportiva</b></p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>